// resources/sass/reda/main.scss

// Aquí puedes importar otros archivos SASS específicos de tus módulos en el futuro.
// Por ahora, agregamos un estilo de ejemplo.
.btn-reda-modal { margin-top: 20px; }
